*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p,
fieldset {
  margin: 0;
}

input,
textarea,
button {
  font: inherit;
}

@font-face {
  font-family: "Karla", sans-serif;
  src: url(../assets/fonts/Karla-VariableFont_wght.ttf) format("truetype");
}
body {
  font-family: "Karla", sans-serif;
  color: hsl(187, 24%, 22%);
  background: hsl(148, 38%, 91%);
}

h1 {
  font-size: 28px;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

label,
legend {
  font-size: 14px;
  font-weight: 500;
}

small.error {
  display: none;
  color: hsl(0, 66%, 54%);
  font-size: 12px;
  margin-top: 1rem;
}

.page {
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}

.contact-card {
  background: hsl(0, 0%, 100%);
  width: min(720px, 100%);
  border-radius: 16px;
  padding: 2.5rem;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
}

.form-grid {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.field {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.field input,
.field textarea {
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 8px;
  padding: 12px 14px;
  margin-top: 8px;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
  background: hsl(0, 0%, 100%);
  cursor: pointer;
  resize: none;
}
.field input:hover,
.field textarea:hover {
  border-color: hsl(169, 79%, 21%);
}
.field input:focus,
.field textarea:focus {
  border-color: hsl(186, 15%, 59%);
  box-shadow: 0 0 0 2px rgba(31, 143, 122, 0.2);
}
.field.has-error input, .field.has-error textarea {
  border-color: hsl(0, 66%, 54%);
}
.field.has-error small.error {
  display: block;
}

.query {
  margin-bottom: 8px;
}
.query .query-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 10px;
}

.radio {
  display: flex;
  align-items: center;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 8px;
  padding: 8px 10px;
  gap: 10px;
  cursor: pointer;
  transition: border 0.2s, background 0.2s;
}
.radio input {
  accent-color: hsl(169, 82%, 27%);
  margin-bottom: 9px;
}
.radio span {
  color: hsl(187, 24%, 22%);
}
.radio input:checked + span {
  font-weight: 600;
}

.radio input:checked {
  accent-color: hsl(169, 82%, 27%);
}

.radio:has(input:checked) {
  border-color: hsl(169, 82%, 27%);
}

.consent {
  margin-top: 1.5rem;
}
.consent .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.consent .checkbox input {
  accent-color: hsl(169, 82%, 27%);
}
.consent .checkbox span {
  margin-top: 4px;
}

.btn {
  width: 100%;
  background: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s, transform 0.1s;
}
.btn:hover {
  background: hsl(169, 79%, 21%);
}
.btn:active {
  transform: translateY(1px);
}

.toast {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  background: hsl(187, 24%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  width: min(370px, 90%);
  z-index: 10;
}
.toast .success-toast-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}
.toast .success-toast-title .success-toast-icon {
  display: flex;
  align-items: center;
}
.toast .success-toast-title .success-toast-icon img {
  width: 16px;
  height: 16px;
}
.toast .success-toast-title span {
  font-size: 14px;
  font-weight: 600;
}
.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
.toast p {
  font-size: 13px;
  color: hsl(186, 15%, 59%);
}

.attribution {
  text-align: center;
  color: hsl(169, 82%, 27%);
  padding: 0;
  margin: 0;
}
.attribution a {
  color: hsl(187, 24%, 22%);
  text-decoration: none;
  font-weight: 600;
}
.attribution a:hover {
  color: hsl(169, 79%, 21%);
}

@media (max-width: 700px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
  .query .query-options {
    grid-template-columns: 1fr;
  }
  .contact-card {
    padding: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
