// Colors
$green-200: hsl(148, 38%, 91%);
$green-600: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);
$white: hsl(0, 0%, 100%);
$grey-500: hsl(186, 15%, 59%);
$grey-900: hsl(187, 24%, 22%);
$shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
$hover: hsl(169, 79%, 21%);

// Radius
$radius: 16px;
$input-radius: 8px;

// Font weights
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// Spacing
$space-1: 1rem;
$space-2: 1.5rem;
$space-3: 2rem;
$space-4: 2.5rem;
$space-5: 3rem;
