@use "../abstracts/variables" as *;

body {
  font-family: $fnt-primary;
  font-weight: $fw-400;
  background: $green-200;
  color: $grey-900;
}

h1 {
  margin-top: $space-0;
  font-weight: $fw-700;
}

label {
  font-size: 14px;
  font-weight: $fw-400;
}
