@use "../abstracts/variables" as *;

.toast {
  position: fixed;
  top: $space-1;
  left: 50%;
  transform: translateX(-50%);
  background: $grey-900;
  color: $white;
  padding: $space-2 $space-3;
  border-radius: 12px;
  max-width: 560px;
  width: calc(100% - 2rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.toast-content {
  display: flex;
  gap: $space-1;
}

.toast-icon {
  background: rgba(16, 185, 129, 0.2);
  padding: $space-1;
  border-radius: 50%;
}

.toast-title {
  font-weight: $fw-700;
  margin: $space-0;
}

.toast-text {
  font-size: 14px;
  opacity: 0.8;
  margin: 2px 0 0;
}

.hidden {
  display: none;
}
